@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 902px;
  left: 0;
  right: 0;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(67, 97, 238, 0.3) 100%);

  border-radius: 0 0 800px 800px;
}

.custom-pagination {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 100px;
    height: 4px;
    background: white;
    border-radius: 20px !important;
    opacity: 0.5;

    &-active {
      background-color: #4361EE;
      opacity: 1;
    }
  }
}

.custom-pagination-blog {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 100px;
    height: 4px;
    background: white;
    border-radius: 20px !important;
    opacity: 0.5;

    &-active {
      background-color: white;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .custom-pagination-blog {
    display: none;
  }
}

#swiper-button-next,
#swiper-button-prev {
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.custom-shadow {
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}

.box-custom-shadow {
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.06);
}

.image-shadow {
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.15);
}

.testimonals-shadow {
  box-shadow: 10px 10px 30px 0px #0000001A;
}
